#linked_fab_container {
	z-index: 20;
	position: fixed;
	display: inline-block;
	right: 48px;
	bottom: 48px;
	user-select: none;
	transition: all 0.5s;
}

#linked_fab_circle {
	z-index: 21;
	border-radius: 50%;
	border: 5px solid #ffffff77;
	background-color: #00000066;
	color: #dddddd;
	
	padding: 10px;
	cursor: pointer;
	transition: all 0.2s;
	text-align: center;
	overflow: hidden;
}

#linked_fab_circle:before {
	content: "";
	z-index: 19;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: 0px 0px 2px #aef758,
				0px 0px 4px #aef758,
				0px 0px 6px #aef758,
				0px 0px 8px #aef758;
	animation: hue_rotate_animation 10s linear infinite;
	animation-direction: alternate-reverse;
	animation-play-state: running;
	background-color: transparent;
	transition: all 1s;
}


#linked_fab_circle:hover {
	border: 5px solid #ffffffbb;
	background-color: #000000bb;
	color: #efefef;
}


#linked_fab_circle:hover:before {
	box-shadow: 0px 0px 10px #aef758,
				0px 0px 20px #aef758,
				0px 0px 30px #aef758,
				0px 0px 40px #aef758;
}

#linked_fab_circle:hover #linked_fab_icon {
	transform: scale(1.2);
	/*transform: translateX(100%);*/
}

#linked_fab_circle:hover + #linked_fab_hint {
	transition-delay: 0.1s;
	transform: translate(-110%, -50%);
	opacity: 1;
	max-width: 100vw;
	padding: 10px;
}

#linked_fab_hint:hover, #linked_fab_hint:focus {
	transform: translate(-110%, -50%);
	opacity: 1;
	max-width: 100vw;
	padding: 20px;	
	transition-delay: 0;
}

#linked_fab_icon {
	z-index: 22;
	padding: 10px;
	transition: inherit;
}

#linked_fab_hint {
	font-family: monospace;
	z-index: 19;
	position: absolute;
	top: 50%;
	left: 0;
	overflow: hidden;
	background-color: #000000dd;
	color: #dddddd;
	border-radius: 5px;
	padding: 0px;
	transform: translate(-100%, -50%);
	transition: all 0.3s;
	font-size: 1.5em;
	opacity: 0;
	white-space: nowrap;
	max-width: 0;
	transition-delay: 0.7s;
}







@keyframes hue_rotate_animation {
	0% {
		filter: hue-rotate(-360deg);
	}
	50% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}





