body {
	display: 
  	font-family: monospace;
  	width: 80%;
  	margin: auto;
}

#cover{
	min-height: 800px;
	background: url("img/cover.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: -1;
}
h1 {
  text-align: right;
  text-shadow:3px 2px green;
  font-family: cursive, sans-serif;
  color: rgb(0, 230, 20);
}

#intro {
	display: block;
	width: 50%;
}
