<!--face page-->
* {}

@media only screen and (max-width: 900px) {
	#content {
		margin: 0px;
		padding: 0px;
	}

	#content ul {
		border: 4px inset silver;
		overflow-y: scroll;
		height: 50vh;
		margin-left: 0px;
		margin-top: 0px;
		list-style-type: none;
		font-size: 22px;
		font-weight: bolder;
		padding: 0px;
	}
	#content li {
		display: flex;
		transition: all 0.6s;
		background-color: #006596;
		text-align: center;
		line-height: 40px;
	}
	.due {
		width: 20%;
		font-size: 15px;
		font-weight: normal;
		background-color: rgb(140, 140, 140);
		padding: 2px 12px 2px 12px;
	}
	.obj {
		width: 80%;
	}
	.check{
		transition: all 0.4s;
		float: left;
		display: inline-flex;
		width: 15px;
		height: 15px;
		margin: 10px 15px 10px 10px;
		border: 2px solid white;
		border-radius: 20%;
	}


}