* {}

@media only screen and (min-width: 901px) {

	* {
		box-sizing: border-box;
	}
	body {
		margin: 0px;
		background-color: #AB91FD;
		color: white;
	}

	#header {
		display: none;
	}

	#menuDiv {
		margin: 0px;
		background-color: #47367B;
	}

	#menu {
		margin: 0px;
	}

	#menu a {
		text-decoration: none;
	}

	#menu li {
		color: white;
		display: inline-flex;
		padding: 5px 10px 5px 10px;
		border-top: 3px solid #AB91FD;
		
	}

	#menu li:hover {
		border-top-color: #47367B;;
		transform: scale(1.1, 1.1) translate(0px, 3px) rotateZ(-3deg);
		box-shadow: 0px 2px 3px black;
		transition: all 0.5s;
	}


	#content {
		outline: 2px dashed #705CAE;
		margin: 0px 20px 0px 20px;
	}


}