<!--mobile first-->
* {}
body {}
#header {}
#center_mark {}
#inform_box {}
#inform_content {}
#left_icon {}

@media only screen and (max-width: 900px) {
	* {
		box-sizing: content-box;
		font-family: Montserrat;
		color: white;
	}
	body {
		margin: 0px;
		background-color: #D0CFD3;
	}
	#header {
		display: flex;
		background-color: #5B1BDF;
		height: 10vh;
	}

	#left_icon {
		float: left;

	}

	#center_mark {
		max-height: 80%;
		font-size: 40px;
		margin: auto;
		padding-left: 10px;
		padding-right: 10px;
		border-left: 5px solid grey;
		border-right: 5px solid grey;
		border-radius: 10px;
	}

	#inform_box {
		width: 100vw;
		position: fixed;
		bottom: 20px;
		display: flex;
	}

	#inform_content {
		font-size: 30px;
		margin: auto;
		text-align: center;
		background-color: #C8B3F4;
		border-radius: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}
}

