<!--mobile first-->
* {}

@media only screen and (max-width: 900px) {
	* {
		box-sizing: content-box;
		font-family: Montserrat;
	}
	body {
		margin: 0px;
		background-color: #D0CFD3;
		color: white;
	}
	#header {
		display: flex;
		background-color: #5B1BDF;
		min-height: 60px;
	}

	/*drawing and animating left icon*/
	#left_icon {
		padding: 0px 5px;
		display: flex;
	}
	#left_icon p {
		font-weight: bold;
		font-size: 2em;
		text-align: center;
		margin: auto;
	}
	.left_icon_on {
		background-color: #5B1BDF; 
		transition: all 1s;
	}
	.left_icon_off {
		background-color: #D0BEFF;
		transition: all 1s;
	}
	#li_a, #li_c {
		position: relative;
	}
	.li_a_off {
		color: black;
		left: 19px;
		bottom: 0px;
		transition: all 0.5s;
	}
	.li_b_off {
		color: black;
		transition: all 1.2s;
	}
	.li_c_off {
		color: black;
		right: 19px;
		top: 0px;
		transition: all 1.7s;
	}
	.li_a_on {
		color: white;
		left: 11px;
		bottom: 10px;
		transition: all 1.5s;
	}
	.li_b_on {
		color: white;
		transition: all 1s;
	}
	.li_c_on {
		color: white;
		right: 11px;
		top: 10px;
		transition: all 0.5s;
	}



	/*drawing center icon*/
	#center_mark {
		font-size: 40px;
		margin: auto;
		border-left: 5px solid grey;
		border-right: 5px solid grey;
		border-radius: 10px;
		padding-left: 15px;
		padding-right: 15px;
	}
	#center_mark span {
		animation-name: centerM_a;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		animation-direction: alternate;
	}

	/*animating center and left icon*/
	@keyframes centerM {
		0% {
			padding-left: 15px;
			padding-right: 15px;
			border-radius:10px;
		}
		50% {
			padding-left: 40px;
			padding-right: 40px;
			border-radius: 25px;
		}
		100% {
			padding-left: 15px;
			padding-right: 15px;
			border-radius: 10px;
		}
	}
	@keyframes centerM_a {
		0% {
			color: white;
		}
		12.5% {
			color: #2FFF24;
		}
		25% {
			color: #D9FF24;
		}
		37.5% {
			color: #FFDD24;
		}
		50% {
			color: #FFB324;	
		}
		62.5% {
			color: #FF2A24;
		}
		75% {
			color: #FF24CF;
		}
		87.5% {
			color: #6B3DFF;
		}
		100% {
			color: #33A2FF;
		}
	}

	@keyframes rotY90 {
		0% {
			transform: rotateY(0deg);
		}
		100% {
			transform: rotateY(90deg);
		}
	}
	@keyframes rotY-90 {
		0% {
			transform: rotateY(90deg);
		}
		100% {
			transform: rotateY(0deg);
		}
	}

	/*content style*/
	#content {
		padding: 10px;
	}






	/*prompt message*/
	#inform_box {
		width: 100vw;
		position: fixed;
		bottom: 20px;
		display: flex;
	}
	#inform_content {
		font-size: 30px;
		margin: auto;
		text-align: center;
		background-color: #C8B3F4;
		border-radius: 20px;
		padding-left: 10px;
		padding-right: 10px;
		animation-duration: 0.8s;
		animation-fill-mode: forwards;
	}

	/*float button*/
	#floatB {
		padding: 0px;
		font-size: 2em;
		border-radius: 50%;
		position: fixed;
		box-shadow: 1px 2px 3px purple; 
	}
	.floatB_on {
		background-color: #5B1BDF;
		color: white;
		border: 2px solid white;
		opacity: 1;
		width: 50px;
		height: 50px;
		left: 15px;
		bottom: 15px;
		transition: all 0.2s;
	}
	.floatB_off {
		background-color: white;
		color: #5B1BDF;
		border: 2px solid #5B1BDF;
		opacity: 0.5;
		width: 40px;
		height: 40px;
		left: 20px;
		bottom: 20px;
		transition: all 0.2s;
	}

	.hiddenBs {
		padding: 0px;
		font-size: 2em;
		border-radius: 50%;
		box-shadow: 1px 2px 1px purple; 
		position: fixed;
		background-color: #5B1BDF;
		color: white;
		border: 2px solid white;
		width: 45px;
		height: 45px;
		left: 15px;
		animation-duration: 0.7s;
		animation-fill-mode: forwards;
		opacity: 0;
		display: none;
	}
	#hB1 {
		bottom: 80px;
	}
	#hB2 {
		bottom: 140px;
	}
	#hB3 {
		bottom: 200px;
	}


	@keyframes showBt {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}






}


